*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
width: 100%;
height: 100vh;    
display: flex;
align-items: center;
justify-content: center;
background: rgb(224, 224, 224);
}
.container{
    border: 2px solid black;
    padding: 20px;
    border-radius: 16px;
    background: rgb(108, 68, 10);
    box-shadow: 0px 3px 15px rgb(165, 29, 29);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background:transparent;
    box-shadow: 0px 3px 15px rgb(155, 131, 95);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: rgb(17, 18, 18);
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    background: rgb(155, 131, 95);
    cursor: pointer;
    box-shadow: 0px 3px 15px rgb(155, 131, 95)
}
button:hover{
    background: azure;
}
#equal{
    background-color: rgb(206, 112, 35);
}