body{
    height: 80vh;
    background: url('img7.webp') center/cover;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid rgba(255,255,255,0.15);
    width: 35vh;
    height: 30px;
    background: rgba(255,255,255,0.15)
     
}
button{
    border-radius: 10px;
    width: 20vh;
    height: 30px;
    background-color: aqua;
}

h1{
    color: aqua;
}